:8080 {
	root * result/public/
	file_server
	try_files {path} {path}.html {path}/ =404
	header {
		Cache-Control "no-cache, no-store, must-revalidate"
		Pragma: no-cache
		Expires: 0
	}
	handle_errors 404 {
		rewrite * /404.html
		file_server
	}
}
